<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>05-color-mixer</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@latest"></script>
</head>

<body>
    <div id="app">

        <header>
            <input @input="changeColor('redValue', redValue)" v-model="redValue" class="input" type="range" id="red"
                step="1" min="0" max="255">
            <input @input="changeColor('greenValue', greenValue)" class="input" type="range" id="green" step="1" min="0"
                max="255" v-model="greenValue">
            <input @input="changeColor('blueValue', blueValue)" class="input" type="range" id="blue" step="1" min="0"
                max="255" v-model="blueValue">
            <h2 id="rgbNum">rgb({{redValue}}, {{greenValue}}, {{blueValue}})</h2>
            <h2 id="hexaNum">{{hexaNumber}}</h2>


        </header>
        <main></main>
    </div>
    <script src="script.js"></script>
</body>

</html>