<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>05-color-mixer</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@latest"></script>
</head>

<body>
    <div id="app">
        <div class="div-color" :style="changeColor">
            <header>
                <input v-model="redValue" class="input" type="range" id="red" step="1" min="0" max="255">
                <input class="input" type="range" id="green" step="1" min="0" max="255" v-model="greenValue">
                <input class="input" type="range" id="blue" step="1" min="0" max="255" v-model="blueValue">
                <h2 id="rgbNum">rgb({{redValue}}, {{greenValue}}, {{blueValue}})</h2>
                <h2 id="hexaNum">{{convertRgb}}</h2>


            </header>
            <main></main>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>